.back-button {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 8px 16px;
	background-color: #FF6347; /* A color like tomato or any you prefer */
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	}